@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
   
   * {
      font-family: 'Noto Sans KR', sans-serif;
      color: #4e4c4c;
   }
	
        .all{
      
      margin: 150px 30px 50px 30px;
   }
   
   #paging {
      display: flex;
      justify-content: center;
   }
   #paging div {
      width: 32px;
      height: 20px;
      text-align: center;
   }
   .disable_link {
      color: lightgray;
   }
   .enable_link {
      cursor: pointer;
   }
   .now_page {
      border: 1px solid gray;
      color: limegreen;
      font-weight: 900;
      border: ;
   }
   
   .contentGroup .no1{
      display: inline-flex;
      color: red;
      flex-direction: column;
      
   }
   .contentGroup .no2{
      display: inline-flex;
      flex-direction: column;
   }
      #contentReg fieldset{
          display: inline-block;
          direction: rtl;
          border:0;
      }
      #contentReg input[type=radio]{
          display: none;
      }
      #contentReg label{
          font-size: 3em;
          color: transparent;
          text-shadow: 0 0 0 #3f81e9;
          font-size: 30px
      }
      #contentReg label:hover{
          text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
      }
      #contentReg label:hover ~ label{
          text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
      }
      #contentReg input[type=radio]:checked ~ label{
          text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
      }
      
      .userRating{
         font-size: 3em;
          color: transparent;
          text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
          font-size: 20px
      }
      
      #recomeBook{
         display: flex;
         text-align: center;
      }

      .detailBook{
         display: inline-flex;
      }
      
      .bookImg{
         margin: 50px 100px 50px 200px;
      }
      
      .bookInfo{
         display: block;
         margin: 40px 100px 50px 20px;
         font-size: 15px;
      }
      
      .bookInfo elm{
         margin-bottom: 5px;
      }

      
      #btnSearchAll{
         margin-left: 15px;
      }
      
      hr {
       border: none;
       border-top: 2px solid #E3E7EB;
       overflow: visible;
       text-align: center;
       margin: 24px 70px 17px 70px;
      }
   
      hr:after {
          content: "GDJ LIBRARY";
          position: relative;
          top: -12px;
          background: #F1F3F5; 
          padding: 0 10px;
          color: #868E96;
          font-size: 0.8em;
      }
      
      .bookDescript{
         margin: 40px 90px 0 90px;
      }
      
      .recomText{
         margin: 40px 90px 0 90px;
      }
      
      .recom{
         margin-right: 50px;
      }
      
      #recomeBook{
         justify-content: center;
      }
      
      .bookReviewSec{
         margin: 20px 180px;
      }
      
      .bookReview{
      	 display: inline-block;
         padding: 20px;
         background-color: #f2f2f2;
         text-align: center;
      }
      
      #attention{
         font-size: 12px;
         margin-bottom: 5px;
      }
      
      #btnReg{
         background-color: #196ab3;
           color: white;
           padding: 10px 10px 10px 10px;
           border: none;
           border-radius: 5px;
           letter-spacing: 2px;
           outline: none;
           align-self: center;
           cursor: pointer;
           font-weight: bold;
              width: 100px;
              height: 100%;
              margin-left: 10px;
      }
      
      .reviews{
         margin-left: 100px;
      }
      
      #replyInfo{
         margin: 10px 0 20px 250px;
         font-size: 20px;
      }
      
      .replyList{
         margin-left: auto;
         margin-right: auto;         
         text-align: center;
         width: 1000px;
      }
        #replyContent {
            display: flex;
        }
        #replyContent .replyContent_first{
            flex:1;

        }
        #replyContent .replyContent_second{
            flex:1;
            margin: 0 auto;

        }
        
        #btnRent, #btnSearchAll{
        	background-color: #eeede4;
		    color: black;
		    padding: 0.5em 1.5em;
		    border: none;
		    border-radius: 5px;
		    letter-spacing: 2px;
		    outline: none;
		    align-self: center;
		    cursor: pointer;
		    font-weight: bold;
        }