@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
	
	* {
		font-family: 'Noto Sans KR', sans-serif;
		color: #4e4c4c;
	} 
	
	h2 {
		display: inline-block;
	}
	#btnWrite {
		margin-left: 550px;
	}
	#fnq_wrap {
		width: 800px;
		margin: 200px auto; 
		/* padding-left: 20px; */
	}
	.top_title_wrap {
		border-bottom: 1px solid #E2E2E2;
		box-sizing: border-box;
		width: 100%;
		padding-left: 15px;
	}
	.content_top_wrap, .content_bottom_wrap {
		border: 1px solid gray;
		box-sizing: border-box;
		width: 100%; 
		margin-top: 20px;
	}
	.content_top_wrap {
		border-bottom: none;
		border-top-color: #aec6ec;
		border-top-width: medium;
		border-left: none;
		border-right: none;
	}
	.content_bottom_wrap {
		margin-top: 30px;
		
		/*
		border-left: none;
		border-right: none;
		*/
		
		border: none;
	}
	.title, .nothing_list {
		padding-top: 3px;
		height: 50px;
		line-height: 250%;
	}
	.question {
		padding-left: 10px;
		color: #122aa3;
		font-weight: bold;
	}
	.content {
		padding-left: 26px;
		box-sizing: border-box;
		padding-top: 20px;
		padding-bottom: 20px;
		background-color: #fdfcf5;
	}
	#paging {
		display: flex;
		justify-content: center;
	}
	#fnqList div {
		border-bottom: 1px solid gray;
		box-sizing: border-box;
	}
	#paging div {
		width: 32px;
		height: 20px;
		text-align: center;
	}
	.disable_link {
		color: lightgray;
	}
	.title, .enable_link {
		cursor: pointer;
	}
	.now_page, .nothing_paging {
		border: 1px solid gray;
		color: #1b56db;
		font-weight: 900;
	}
	.blind {
		display: none;
	}	
	#fnqList {
		font-size: 18px;
	}
	#fnqList {
		color: #385772;
	}
	#fnq_search {
		width: 100%;
		margin-top: 40px;
		text-align: center;
	}
 	.btn_style, .search_column {
		border: 1px solid #7c7c7c;
		border-radius: 10px;
		width: 60px;
		height: 25px;
		color: white;
		background-color: #4390de;
		cursor: pointer;
	} 
	.search_column {
		background-color: white;
		color: black;
		font-size: 14px;
	}
	.search_query {
		height: 20px;
		border: 1px solid #7c7c7c;
		border-radius: 10px;
		vertical-align: middle;
		padding-left: 10px;
		/* padding-top: 3px; */
	}
	#btnSearch {
		display: none;
	}
	.icon_wrap {
		display: inline-block;
		border: 1px solid #7c7c7c;
		border-radius: 170px;
		width: 50px;
		height: 25px;
		background-color: #4390de;
		cursor: pointer;
	}
	.btn_write {
		height: 30px;
	}