@charset "UTF-8";
.container {
   width: 1140px;
   margin: 0 auto;
   }
   .clearfix {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      background-color: #fffcf7;
   }
   
   .clearfix ul {
      float: right;
      margin-right: 50px;
   }
   
   .clearfix ul li {
      float: left;
      list-style: none;
      margin-left: 20px;
   }
   
   .clearfix ul li a {
      color: #14357a;
      text-decoration: none;
      line-height: 30px;
      font-weight: bold;
   }

   
   
   .aeq {
      color: #14357a;
      text-decoration: none;
      line-height: 30px;
   }
   
      #divTopMenu {
      background-color: beige;
      text-align: center;
   }
   
   .divTopMenu {
      display: inline-block;
      font-size: 30px;
      font-weight: 900;
      margin: 20px;
      text-decoration: none;
      color: 3d3b3b;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 50px;
      
   }
   
   .divTopMenu a{
      color: #4a4848;
      text-decoration: none;
   }
   
   .divTopMenu a:hover {
      color: black;
      font-size: 31px;
   }


   .clearfix2 {
      position: fixed;
      top: 50px;
      left: 0;
      right: 0;
      background-color: #f5f5dc;
      padding-bottom: 22px;
   }

   .clearfix2 ul {
      float: center;
      margin-right: 50px;
      margin-left: 320px;
   }
   
   .clearfix2 ul li {
      float: left;
      list-style: none;
      margin-left: 25px;
      margin-right: 25px;
   }
   
   .clearfix2 ul li a {
      color: #14357a;
      text-decoration: none;
      line-height: 30px;
      font-weight: bold;
      font-size: 25px;
   }
   
   #logo{
   		margin: 30px 40px -60px 80px;
         margin: 30px 40px -60px 80px;
   }