@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
   
   * {
      font-family: 'Noto Sans KR', sans-serif;
   }

	body {
		background-color: #fbfbf2;
	}
	
	#divImg {
		background: url("https://cdn.pixabay.com/photo/2016/03/26/22/21/books-1281581_1280.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		height: 100vh;
		margin-left: 100px;
		margin-right: 100px;
	}
	
	#divInnerImg {
		background-color: rgba( 255, 255, 255, 0.4 );
	}
	
	
	#divTop {
		background-color: 
	}
	
	#divButton {
		text-align: right;
	}
	
	#divBottomMenu {
		background-color: beige;
		text-align: center;
	}
	
	.divBottomMenu {
		display: inline-block;
		font-size: 20px;
		font-weight: 900;
		margin: 20px;
		text-decoration: none;
		color: 3d3b3b;
		padding-left: 20px;
		padding-right: 20px;
		
	}
	
	.divBottomMenu a{
		color: #4a4848;
		text-decoration: none;
	}
	
	.divBottomMenu a:hover {
		color: black;
		font-size: 21px;
	}
	
	.centerMenu {
		display: inline-block;
				font-size: 20px;
		font-weight: 600;
	
		
	}
	.hidden {
		display: none;
		display: inline-block;
		color: white;
	}
	#divBottomText {
        margin-top: 30px;
        margin-left: 90px;
		background-color: #efefb8;
        display: inline-flex;
	}

	#recomeBook{
		display: inline-flex;
	}
	
	#map{
		width:200px;
		height:200px;
		margin-left:100px;
	}
	
    #libraryInfo{
        line-height: 50px; 
		font-size: 15px;
    }