@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
* {
    font-family: 'Noto Sans KR', sans-serif;
}
      
.myPage_wrap {
    width: 1000px;
    margin: 100px auto 0;
    padding: 50px 50px 51px;
    
    
}
.myPage_wrap table {
	margin: 0 auto;
	width : 800px;

}
.myPage_wrap  h3 {
    text-align: center;
    margin-bottom: 50px;
    color: #4e4c4c;
   
}
a {
    text-decoration: none;
    color: #4e4c4c;
    
}
.myPageTop {
    display: block;
    text-align: right;
}
.myPageTop a:first-of-type {
    border-right: #4e4c4c;
    padding: 19px 18px 0;
    
}
.myPageList caption {
    width: 150px;
    height: 50px;
    background-color: #4390de;
    color: #fff;
    line-height: 50px;
    font-weight: 500;
    text-align: center;
    margin: 0 auto 20px;
    font-size: 18px;
}

.myPageList {
    margin-bottom: 50px;
}
.myPageList:nth-of-type(3) {
    margin-bottom: 20px;
}
.myPageList:nth-of-type(4) table {
    width: 600px;
   
}
.myPageList table {
   color: #4e4c4c;
    border-collapse: collapse;
}

.myPageList table td {
    font-size: 15px;
    text-align: center;
    border-top: 1px solid #4e4c4c;
    border-bottom: 1px solid #4e4c4c;
    height: 50px;
}
.myPageList table thead td {
    height: 40px;
}
.btnReturn {
    display: block;
    font-size: 14px;
    margin: 0 auto 50px;
    width: 100px;
    height: 35px;
    background-color: #f5e0c1;
    border: #f5e0c1;
    cursor: pointer;
    color: #4e4c4c;
}