@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
* {
    font-family: 'Noto Sans KR', sans-serif;
}
.ok {
	color: #3253cc;
}

.dont {
	color: #666b7d;
}


.pwChange_wrap {
    width: 500px;
    margin: 230px auto 0;
}

.pwChange_wrap table {
    margin: 0 auto;
    
}
   


.pwChange > h3 {
    display: block;
    text-align: center;
    margin-bottom: 30px;
    font-size: 15px;
    color: #4e4c4c;
}

.pwChange_wrap tr td:nth-of-type(1) {
    font-size: 13px;
    padding: 0 10px 0 5px;
    width: 120px;
    color: #4e4c4c;
}


.pwChange_wrap tr td:nth-of-type(2) {
    display: block;
    height: 35px;
    margin-bottom: 3px;
    border: 1px solid #d7d7d7;
    position: relative;
    padding-right: 5px;
}

.pwChange_wrap input[type="password"] {
    width: 180px;
    height: 10px;
    padding: 12px 10px 12px;
    font-size: 14px;
    font-weight: bold;
    color: #635f5f;
    outline-style: none;
    border: none;
}

.pwChange_wrap input[type="button"], .btnPwChange {
    font-size: 13px;
    border: 1px solid #f5e0c1;
    background-color: #f5e0c1;
    padding: 2px 5px;
    cursor: pointer;
    
}
.botton {
    margin-top: 20px;
    text-align: center;
    
}

.botton input[type="button"] {
    font-size: 13px;
    border: 1px solid #f5e0c1;
    background-color: #f5e0c1;
    padding: 2px 5px;
    cursor: pointer;
}