@charset "UTF-8";
.ok {
	color: #3253cc;
}

.dont {
	color: #666b7d;
}
	
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
* {

    font-family: 'Noto Sans KR', sans-serif;
}

.pwChange_wrap {
    width: 500px;
    margin: 150px auto 0;
}

.pwChange_wrap table {
    margin: 0 auto;
    width : 400px;
    
}

.pwChange > h3 {
    display: block;
    text-align: center;
    margin-bottom: 30px;
    font-size: 15px;
    color: #4e4c4c;
}

.pwChange_wrap tr td:nth-of-type(1) {
    font-size: 13px;
    padding: 0 10px 0 5px;
    width: 120px;
    color: #4e4c4c;
}


.pwChange_wrap tr td:nth-of-type(2) {
    display: block;
    height: 35px;
    margin-bottom: 3px;
    border: 1px solid #d7d7d7;
    position: relative;
    padding-right: 5px;
}

.pwChange_wrap input[type="password"] {
    width: 180px;
    height: 10px;
    padding: 12px 10px 12px;
    font-size: 14px;
    font-weight: bold;
    color: #635f5f;
    outline-style: none;
    border: none;
}



.msg td span{
    font-size: 12px;
    padding: 0 10px 0 3px;
    
}
    
.pwChange_wrap input[type="button"], .btnPwChange {
    font-size: 13px;
    border: 1px solid #f5e0c1;
    background-color: #f5e0c1;
    padding: 2px 5px;
    cursor: pointer;
    
}
.botton {
    margin-top: 20px;
    text-align: center;
    
}

.botton input[type="button"] {
    font-size: 13px;
    border: 1px solid #f5e0c1;
    background-color: #f5e0c1;
    padding: 2px 5px;
    cursor: pointer;
}

.findPwPage_wrap {
    width: 500px;
    margin: 150px auto 0;
}

.findPwPage_wrap table {
    margin: 0 auto;
    
}

.findPwPage_wrap table td {
   height: 40px;
    
}

.findPwPage_wrap table tr:nth-of-type(3) > td {
    height: 15px;
    text-align: center;
    padding: 0 5px 5px 5px;
    font-size: 13px;
    
}
.findPwPage_wrap tr td:nth-of-type(1) {
    font-size: 13px;
    padding: 0 10px 0 5px;
    color: #4e4c4c;
}
.findPwPage_wrap tr td:nth-of-type(2) {
    display: block;
    height: 35px;
    margin-bottom: 3px;
    border: 1px solid #d7d7d7;
    position: relative;
    padding-right: 5px;
}

.findPwPage_wrap input[type="text"] {
    width: 180px;
    height: 10px;
    padding: 12px 10px 12px;
    font-size: 14px;
    font-weight: bold;
    color: #635f5f;
    outline-style: none;
    border: none;
}
.findPwPage  input::placeholder {
    color: #c3c3c3;
    font-size: 12px;
}
.findPwPage > h3 {
    display: block;
    text-align: center;
    margin-bottom: 30px;
    font-size: 15px;
    color: #4e4c4c;
}

.findPwPage tr input[type="button"] {
    margin-left: 5px;
    background-color: #f5e0c1;
    width: 90px;
    border-color: #f5d7ac;
    padding: 3px 5px;
    font-size: 12px;
    color: #4e4c4c;

}

.findPwPage table tr:last-of-type button {
    
    background-color: #f5e0c1;
    width: 150px;
    border-color: #f5d7ac;
    padding: 3px 5px;
    font-size: 12px;
    color: #4e4c4c;
   
}

.btn_findPwPage {
   display: block;
   text-align: center;
   margin: 10px auto 0;
   background-color: #f5e0c1;
   width: 150px;
   border-color: #f5d7ac;
   padding: 3px 5px;
   font-size: 12px;
   color: #4e4c4c;
}