@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
* {
    font-family: 'Noto Sans KR', sans-serif;
}

.modifyConfirm {
    width: 500px;
    margin: 230px auto 0;
}

.modifyConfirm table {
    margin: 0 auto;
    
}

.modifyConfirm > h3 {
    display: block;
    text-align: center;
    margin-bottom: 30px;
    font-size: 15px;
    color: #4e4c4c;
}
.modifyConfirm_wrap tr td:nth-of-type(1) {
    font-size: 13px;
    padding: 0 10px 0 5px;
    width: 120px;
	text-align: center;
	color: #4e4c4c;
}

.modifyConfirm_wrap tr td:nth-of-type(2) {
    display: block;
    height: 35px;
    margin-bottom: 3px;
    border: 1px solid #d7d7d7;
    position: relative;
    padding-right: 5px;
}

.modifyConfirm_wrap input[type="password"] {
    width: 180px;
    height: 10px;
    padding: 12px 10px 12px;
    font-size: 14px;
    font-weight: bold;
    color: #635f5f;
    outline-style: none;
    border: none;
}

.modifyConfirm_wrap button {
	display: inline-block;;
	text-align: center;
	background-color: #f5e0c1;
	width: 80px;
	border-color: #f5d7ac;
	padding: 3px 5px;
	font-size: 12px;
	padding: 5px 18px;
	margin: 0 5px 5px 10px;
	cursor: pointer;
}

.pwModifyConfirm_wrap {
    width: 500px;
    margin: 230px auto 0;
}

.pwModifyConfirm table {
    margin: 0 auto;
    
}

.pwModifyConfirm > h3 {
    display: block;
    text-align: center;
    margin-bottom: 30px;
    font-size: 15px;
    color: #4e4c4c;
}
.pwModifyConfirm_wrap tr td:nth-of-type(1) {
	font-size: 13px;
	padding: 0 10px 0 5px;
	width: 120px;
	text-align: center;
	color: #4e4c4c;
}

.pwModifyConfirm_wrap tr td:nth-of-type(2) {
    display: block;
    height: 35px;
    margin-bottom: 3px;
    border: 1px solid #d7d7d7;
    position: relative;
    padding-right: 5px;
}

.pwModifyConfirm_wrap input[type="password"] {
    width: 180px;
    height: 10px;
    padding: 12px 10px 12px;
    font-size: 14px;
    font-weight: bold;
    color: #635f5f;
    outline-style: none;
    border: none;
}

.pwModifyConfirm_wrap button {
	display: inline-block;
	text-align: center;
	background-color: #f5e0c1;
	width: 80px;
	border-color: #f5d7ac;
	padding: 3px 5px;
	font-size: 12px;
	padding: 5px 18px;
	margin: 0 5px 5px 5px;
	cursor: pointer;
}