@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
   
 * {
    font-family: 'Noto Sans KR', sans-serif;
 }

.blind {
	display: none;
}

.items, .item {
	padding-left: 20px;
	background-image: url(../resources/images/uncheck.png);
	background-size: 18px 18px;
	background-repeat: no-repeat;
	margin-left:10px;
	color: #635f5f;
	cursor: pointer;
}

.check {
	background-image: url(../resources/images/check.png);
}

.h2 {
	font-size: 20px;
	color: #4a4747;
	text-align: center;
	margin: 0 auto;
	padding: 80px 0 20px 0;
}

.agree {
	border: 1px solid #e6e6e6;
	width: 650px;
	margin: 20px auto;
}
.agree:first-of-type {
	border: 0;
}

.agree > div {
	padding: 23px 19px;
	height: 124px;
	overflow: auto;
	font-size: 13px;
	color: #555;
	line-height: 23px;
}

.agree:last-of-type > div {
	height: 25px;
}

.agree > p {
	background-color: #f8f8f8;
	border-top: 1px solid #e6e6e6;
	height: 43px;
	line-height: 43px;
	margin: 0 0;
	color: #222;
	text-indent: 19px;
	font-size: 13px;
}

.agreeSubmit {
	box-sizing: border-box;
	margin: 0 auto;
	padding: 13px 14px;
	background-color: #4390de;
	font-size: 20px;
	color: #fff;
	line-height: 20px;
	border: #4390de;
	display: block;
	width: 100px;
	cursor: pointer;
	
}