@charset "UTF-8";
	@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
	
	* {
		box-sizing: border-box;
		font-family: 'Noto Sans KR', sans-serif;
		color: #4e4c4c;
	}
	.addNotice_wrap, .modifyNotice_wrap {
		width: 860px;
/* 		margin-top: 30px;
		margin-bottom: 70px; */
		margin: 200px auto;
		padding-left: 15px;
		
	}
	.title_wrap {
		width: 100%;
		padding-left: 10px;
		font-size: 25px;
		height: 40px;
		line-height: 40px;
	}
	.title {
		display: inline-block;
		margin-left: 20px;
		height: 32px;
		padding-left: 10px;
		
		/* line-height: 40px;  */
	}
	.content_wrap {
		width: 100%; 
		margin-top: 30px;
	}
	.btn_wrap {
		width: 100%; 
		text-align: center;
		margin-top: 20px;
		margin-bottom: 50px;
	}
	.btn_wrap button, #btnCancel {
		border: 1px solid #7c7c7c;
		border-radius: 10px;
		width: 100px;
		height: 40px;
		color: white;
		background-color: #4390de;
		font-size: 16px;
		cursor: pointer;
	}
	#btnCancel {
		width: 70px;
	}
	.add_file {
		margin-bottom: 4px;
	}
	.remove_files {
		margin-bottom: 5px;
	}
	.remove_fileAttach {
		cursor: pointer;
	}