@charset "UTF-8";
 	@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
	
	* {
		box-sizing: border-box;
		font-family: 'Noto Sans KR', sans-serif;
		color: #4e4c4c;
	} 
/* 	.link:hover {
		border: 1px solid orange;
		color: limegreen;
	} */
	.notice_title_top {
		font-size: 30px;
		font-weight: 900;
	}
	.unlink, .link {
		display: inline-block;
		margin-left: 10px;
		margin-right: 10px;
	}
	table {
		border-collapse: collapse;
	}
	.notice_all_wrap {
		width: 1020px;
		margin: 200px auto; 
		/* padding-left: 20px; */
	}
	.notice_top {
		width: 100%;
		padding-left: 430px;
		margin-top: 40px;
		margin-bottom: 40px;
		font-size: 24px;
	}
	.notice_write_wrap {
		display: inline-block;
		padding-left: 350px;
	}
	td {
		height: 50px;
		text-align: center;
		border-bottom: 1px solid silver;
	}
	tfoot td {
		border-bottom: none;
	}
	.notice_content {
		width: 100%;
	}
	
	td:nth-child(1) { width: 50px; }
	td:nth-child(2) { 
		width: 750px; 
		text-align: left;
		padding-left: 20px;
	}
	td:nth-child(3) { width: 140px; }
	td:nth-child(4) { width: 80px; }
	
 	#notice_title {
		text-align: center;
	} 
	table thead {
		background: #e0e2ef;
	}
	table tbody {
		background: #f2f2f2;;
	}
	tfoot td div {
		margin-top: 30px;
	}
	#notice_search {
		width: 100%;
		margin-bottom: 20px;
		text-align: right;
	}
	.a_style {
		display:inline-block;
 		width: 100%; 
		text-decoration: none;
	}
	.a_style:link, .a_style:visited {
		color: black;
	}
	.content_wrap:hover {
		background-color: #819dc7;
	}
	
	
	.btn_style, .search_column {
		border: 1px solid #7c7c7c;
		border-radius: 10px;
		width: 60px;
		height: 30px;
		color: white;
		background-color: #4390de;
		cursor: pointer;
	} 
	.search_column {
		background-color: white;
		color: black;
		font-size: 14px;
		width: 60px;
		height: 25px;
	}
	.search_query {
		height: 25px;
		border: 1px solid #7c7c7c;
		border-radius: 10px;
		vertical-align: middle;
		padding-left: 10px;
		/* padding-top: 3px; */
	}
	#btnSearch {
		display: none;
	}
	.icon_wrap {
		display: inline-block;
		border: 1px solid #7c7c7c;
		border-radius: 170px;
		width: 50px;
		height: 27px;
		background-color: #4390de;
		cursor: pointer;
		/* padding-top: 1px; */
		text-align: center;
	}
	
	
	a {
		text-decoration: none;
	}
	.unlink {
		color: lightgray;
	}
	.now_page {
		border: 1px solid gray;
		color: #1b56db;
		font-weight: 900;
		display: inline-block;
		width: 32px;
	}
