 	@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
	
	* {
		font-family: 'Noto Sans KR', sans-serif;
		color: #4e4c4c;
	} 
	.addQaa_wrap {
		width: 600px;
		margin: 200px auto; 
		/* padding-left: 20px; */
	}
	input[name="title"], input[name="memberId"] {
		width: 400px;
		height: 25px;
		padding-left: 15px;
	}
	textarea {
		width: 470px;
		height: 300px;
		resize: none;
	}
	#btn {
		width: 500px;
		margin-top: 20px;
		text-align: center;
	}
	.pointer {
		display: inline-block;
		border: 1px solid #7c7c7c;
		border-radius: 170px;
		width: 60px;
		height: 27px;
		background-color: #4390de;
		cursor: pointer;
		padding-top: 1px;
		text-align: center;
		color: white;
	}

	.title_wrap, .memberId_wrap, .question_wrap {
		display: block;
		margin-top: 30px;
	}
	.td_title, .td_memberId {
		display: inline-block;
	}
	.title_first {
		margin-right: 25px;
	}
	.memberId_first {
		margin-right: 10px;
	}
	#content {
		padding-left: 15px;
		padding-top: 15px;
		font-size: 16px;
	}
