@charset "UTF-8";
   @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
   
   * {
      font-family: 'Noto Sans KR', sans-serif;
   }
   body {
   	padding-left: 70px;
   }
   
   #divTop {
   		padding-top: 200px;
   		font-size: 30px;
   		color: #4e4c4c;
   		font-weight: bold;
   }
	.blind {
		display: none;
	}
	.items, .item {
		padding-left: 20px;
		background-image: url(https://search.pstatic.net/sunny/?src=https%3A%2F%2Fcdn4.iconfinder.com%2Fdata%2Ficons%2Finfinity-outline-symbols-arrows%2F48%2F012_002_check_done_tick-512.png&type=sc960_832);
		background-size: 20px 20px;
		background-repeat: no-repeat;
	}
	.check {
		background-image: url(https://search.pstatic.net/sunny/?src=https%3A%2F%2Fcdn2.iconfinder.com%2Fdata%2Ficons%2Fe-commerce-594%2F64%2F1_check_mark_badge_tick_check-512.png&type=a340);
	}
	.wifi {
		color: red;
	}
	#f {
		
		font-weight: bold;
	}
	.item {
		color: 
	}
	.w-btn {
    position: relative;
    border: none;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 15px;
    font-family: "paybooc-Light", sans-serif;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
    }
    .w-btn-indigo {
    background-color: aliceblue;
    color: #1e6b7b;
	}
	strong {
		color: #1e6b7b;
	}
	li {
		color: #4e4c4c;
	}
	h3 {
		color: #4e4c4c;
	}
	.divBottom {
		color: #4e4c4c;
	}
